.site-footer {
    background-color: var(--menu-main-color);
    margin: 0;
    padding: 3vh;
    display: block;
}

.site-footer .contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.site-footer p{
    color: var(--first-color);
    font-size: 1em;
    text-align: center;
}

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5
}

.site-footer hr.small {
    margin: 20px 0
}

.site-footer h6 {
    color: #fff;
    font-size: 1.2em;
    text-transform: uppercase;
    margin-top: 1vh;
    text-align: center;
}

.site-footer a {
    color: #fff;
}

.site-footer a:hover {
    color: var(--first-color);
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none
}

.footer-links li {
    display: block
}

.footer-links a {
    color: var(--first-color);
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: var(--hover-color);
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

.site-footer .social-icons {
    text-align: right
}

.site-footer .social-icons .github, .site-footer .social-icons .discord, .site-footer .social-icons .youtube {
    margin-left: 6px;
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
}

.social-icons a {
    width: 2.5em;
    height: 2.5em;
    aspect-ratio: 1;
    color: var(--first-color);
    font-size: 16px;
    display: flex;
    text-align: center;
    border-radius: 100%;
    transition: all 0.5s linear;
    margin-top: 10px;
}

.social-icons i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 1.5em;
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
}

.social-icons.size-sm a {
    margin: 1vh 1vw;
}

.social-icons a.pages:hover {
    background-color: var(--light-color);
    color: var(--third-color)
}
.social-icons a.instagram:hover{
    background:-webkit-linear-gradient(45deg, #fcaf45, #f77737, #e1306c, #c13584, #833ab4, #5b51d8);
}
.social-icons a.github:hover {
    background-color: #24292e;
}

.social-icons a.youtube:hover {
    background-color: #E10600;
    color: white;
}

.social-icons a.discord:hover {
    background-color: #7289da;
}

@media (max-width:767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600;
    }
}

.site-footer img{
    width: auto;
    max-height: 10vh;
}

@media (max-width:1120px) {
    .site-footer {
        padding-bottom: 0
    }
}

@media (max-width:648px) {
    .site-footer {
        padding-bottom: 0
    }
}


@media (max-width: 300px) {
    .site-footer {
        padding: .8vh;
        font-size: .8em;
    }

    .site-footer h6 {
        font-size: 1em;
        margin-top: .8vh;
    }
}