@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");

@font-face {
  font-family: 'Wavehaus';
  src: url('/src/assets/graham-paterson-wavehaus-typeface/Wavehaus-66Book.otf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'Wavehaus';
  src: url('/src/assets/graham-paterson-wavehaus-typeface/Wavehaus-128Bold.otf') format('opentype');
  font-weight: 900;
}

@font-face {
  font-family: 'Bradley Hand';
  src: url('/src/assets/Bradley-Hand-Font/BRADHI.ttf') format('truetype');
}

::-webkit-scrollbar-track
{
	border: 1px solid black;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #000000;	
}

:root {
  --header-height: 3.7rem;

  /* Color */
  --first-color: #ccdeff;
  --second-color: #031027;
  --third-color: #364d79;
  --fourth-color: #569ACB;
  --light-color: #D78C39;
  --hover-color: #e4d8cc;
  --menu-main-color: #364d79;

  /* Font */
  --body-font: "Wavehaus", sans-serif;
  --title-font: "Montserrat", sans-serif;
  --normal-font-size: 0.92rem;
  --big-font-size: 1.8em;
  --large-font-size: 2.5rem;
  --font-regular: 500;
  --font-semi-bold: 600;
  --font-bold: 900;

  /* z index */
  --z-tooltip: 10;
  --z-fixed: 100;
}

::selection{
  background: var(--hover-color);
  color: var(--light-color);
}

/* Responsive Variable */
@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
  }
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MAIN */
#title__parallax {
  z-index: 2;
  position: relative;
  background-color: var(--third-color);
  padding: 0.5vh 0.5vw;
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: var(--font-bold);
  color: var(--light-color);
}

@media screen and (max-width: 750px) {
  #title__parallax {
    z-index: 2;
    padding: 0.25vh 0.25vw;
    font-size: 250%;
  }
}


.title {
  font-size: 2.2em;
  font-weight: var(--font-semi-bold);
  color: var(--second-color);
  text-align: center;
  margin-bottom: 2.5vh;
}

.subtitle {
  font-size: 1.6em;
  font-weight: var(--font-bold);
  color: var(--third-color);
  text-align: center;
  margin-bottom: 2vh;
}

p {
  line-height: 1.5em;
  text-align: justify;
  color: var(--third-color);
  font-family: var(--body-font);
  font-weight: var(--font-regular);
  font-size: var(--normal-font-size);
}

#profile p {
  color: white;
  font-size: 2rem;
}

hr {
  margin: 1.5vh 0 2vh;
  border-radius: 5px;
  border: 0.25vh solid var(--light-color);
}

section {
  margin: 2vh 0;
}

section#feedback {
  margin-top: calc(var(--header-height) + 20vh);
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row-center{ 
  display: flex;
  padding: 1%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.col-sm{
  flex-basis: 0;
  flex-grow: 1;
  min-width: 0;
  max-width: 100%;

  position: relative;
  width: 100%;
  padding: 0 1%;

  padding-left: -1vw;
  padding-right: -1vw;
}

.col-box{
  background-color: #ffffff;
  border: 1px solid #E6E9EC;
  border-radius: 3px;
  margin-bottom: 30px;
  padding: 50px 25px 40px;
  position: relative;
  text-align: center;
  transition: all 0.3s ease;
  box-sizing: border-box;
}

.col-box .icon{
  background-color: #0d0d5e;
  font-size: 300%;
  color: white;

  border-radius: 50%;
  height: 112px;
  line-height: 112px;
  margin: 0 auto;
  width: 112px;
}

.col-box .desc{
  margin-top: 3vh;
}

.col-box .desc p{
  text-align: center;
}

.col-sm a{
  color: white;
  text-decoration: none;
  font-size: 200%;
}

.col-sm a:hover{
  color: var(--hover-color);
}

.col-box{
  padding: 0;
}

.col-box:hover{
  font-size: 120%;
}

.desc{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 30%;
  background-color: rgba(0, 0, 0, 0.85);
}

.col-box{
  display: flex;
  justify-content: center;
  align-items: last baseline;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 40vh;
}

@media screen and (max-width: 1024px){
  .col-sm{
    flex: 0 0 100%;
    min-width: 0;
    max-width: 100%;

    position: relative;
    width: 100%;
    padding: 0 1%;

    padding-left: -.5vw;
    padding-right: -.5vw;
  }
}

.col-half{
  flex: 0 0 50%;
  max-width: 50%;
}

.col-full{
  flex: 0 0 100%;
  max-width: 100%;
}

.col-half, .col-full {
  position: relative;
  width: 100%;
  padding: 0 2%;
}

/* FOOTER */
.footer {
  background-color: var(--menu-main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: relative;
  width: 100%;
  min-height: 100px;
  padding: 20px 50px;
}
.footer .social-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}
.footer .social-icon li {
  list-style: none;
}
.footer .social-icon li a {
  font-size: 2em;
  color: var(--first-color);
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.footer .social-icon li a:hover {
  color: var(--sixth-color);
  transform: translateY(-10px);
}
.footer img {
  max-height: 100px;
  width: auto;
}
.footer p {
  color: #fff;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.1em;
}

iframe {
  width: 640px;
  height: 1546px;
  margin: 0;
  border: none;
}

.cards {
  justify-content: center;
  display: flex;
}

.cards__container {
  transition: all 0.5s ease-in-out;
  border-radius: 16px;
  width: 50vh;
  margin: 5vh;
  padding: 5vh;
  background-color: beige;
  color: var(--third-color);
}

.cards__container:hover {
  color: var(--first-color);
  -webkit-box-shadow: -1px 13px 41px -20px rgba(66, 68, 90, 1);
  -moz-box-shadow: -1px 13px 41px -20px rgba(66, 68, 90, 1);
  box-shadow: -1px 13px 41px -20px rgba(66, 68, 90, 1);
}

body > .skiptranslate > iframe.skiptranslate {
  display: none !important;
  visibility: hidden !important;
}

body {
  top: 0px !important;
}